.container
  %form{:action => "/answer", :class =>"border-rad"}
    %input{:name => "question", :type => "text", :class => "question"
    :placeholder => "Ask your Coach anything..."}
    %input{:type => "submit", :value => "Ask!", :class => "btn-sub"}
